/**
 * Web Font Declarations
 *
 * Custom fonts for the WeMeditate project.
 * - Raleway: Primary sans-serif font family (weights: 200, 300, 400, 500, 600, 700)
 * - Futura Book: Secondary font family for special headings
 */

/* Raleway Extra Light - 200 */
@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/raleway/RalewayExtraLight.woff2') format('woff2'),
       url('/fonts/raleway/RalewayExtraLight.woff') format('woff');
}

/* Raleway Light - 300 */
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/raleway/RalewayLight.woff2') format('woff2'),
       url('/fonts/raleway/RalewayLight.woff') format('woff');
}

/* Raleway Regular - 400 */
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/raleway/RalewayRegular.woff2') format('woff2'),
       url('/fonts/raleway/RalewayRegular.woff') format('woff');
}

/* Raleway Medium - 500 */
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/raleway/RalewayMedium.woff2') format('woff2'),
       url('/fonts/raleway/RalewayMedium.woff') format('woff');
}

/* Raleway Semi Bold - 600 */
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/raleway/RalewaySemiBold.woff2') format('woff2'),
       url('/fonts/raleway/RalewaySemiBold.woff') format('woff');
}

/* Raleway Bold - 700 */
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/raleway/RalewayBold.woff2') format('woff2'),
       url('/fonts/raleway/RalewayBold.woff') format('woff');
}

/* Futura Book - 400 */
@font-face {
  font-family: 'Futura Book';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/futura-book/FuturaBook.woff2') format('woff2'),
       url('/fonts/futura-book/FuturaBook.woff') format('woff');
}
